* {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../srcs/AboutUs_images/bg.jpeg);
    overflow-x: hidden;
    height: auto;
    display: grid;
    place-items: center center;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}



.heading h1 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 25px;
    position: relative;
}

.heading h1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.container {
    background-color: #a2a2a2;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
    height: 1000px;


}

.card {

    width: 80%;
    margin: auto;
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(400px, 1fr);
    grid-gap: 30px;
}

.about_member_button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 130px;
    color: white;
    background-color: grey;
    margin-top:5px;
    margin-left: 20px;
    padding: 14px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.about_member_button:hover {
    color: black;
    background-color: red;
    font-size: 18px;
}


.img1 {
    position: relative;
    left: -20px;
    top: 0.5px;
    z-index: -1;
    height: 120%;
}

.about-content {
    position: absolute;
    padding: 20px;
    align-items: center;
    left: 70%;
    bottom: 40%;
    text-align: left;
    top: 5px;
}

.about-content2 {
    position: absolute;
    padding: 20px;
    align-items: center;
    left: 70%;
    bottom: 40px;
    text-align: left;
    top: 40px;
}

.beginning {
    color: #efecec;
    font-size: larger;
}

.container1 {
    background-color: #a2a2a2;
    border-radius: 20px;
    height: 1000px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    box-sizing: border-box;



}

.col {
    margin: 15px;
    position: relative;
    top: 50px;
}

.row {
    display: flex;
}


/* //navbar css */
header{
    /* background-color: #e5e3dc; */
     position: relative;
     height: 5.6vh;
     width: 100%;
     z-index: 2;
 }

.navbar{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    height: 5.6vh;
    background-color: #434141;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.navbar img {
    position: relative;
    right: 16%;
    
}

.navbar .navlist {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15%;
    
}
.navbar .navlist a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding-left: 40px;
    transition: color 1s ease;
}

.navbar .navlist a:hover {
    color: red;
}
.navbar .navlist .cart_image_button_homepage {
    position: relative;
    padding:0px 8px;
    left: 16px;
    margin-right: 10px;
    transition: all 0.6s ease;
}

.navbar .navlist .cart_image_button_homepage:hover{
    background-color: red;
}

/* .navlist button {
    font-weight: 600;

} */
.login_navbar {
    box-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: #434141;
    width: 80px;
    height: 4vh;
    font-size: 16px;
    margin-left: 40px;
    color: white;
    /* padding: 10px; */
    transition: all 0.5s ease;
    text-align: center;
}

.login_navbar:hover {
    background-color: red;
    width: 90px;
    color: black;
    font-size: 18px;
    height: 4.4vh;
}
/* navbar css ended */

