.blog_homepage{
    background-color: #616161;
    height: 90vh;
    width: 100%;

}
.blog_homepage h2 {
    margin-left: 10%;
    font-weight: 600;
    font-size: 48px;
    margin-top:40px;
    margin-bottom: 40px;
    padding-left: 50px;
    border-left: 4px solid orange;
}
.homepage_blog_container{
/* background-color: purple; */
margin-left: 100px;
margin-right: 20px;
height: 65vh;
width: 95%;
display: flex;
align-items: center;
justify-content: center;
}

.homepage_blog_container .blog_image_homepage {
    margin-right: 20px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.77);
    border: 5px solid white;
    background: url(../srcs/wp5969862-camera-black-wallpapers.jpg);
    background-size:contain;
    height: 50vh;
    width: 40%;
}

.homepage_blog_container .blog_content_homepage {
    overflow: hidden;
    height: 65vh;
    width: 50%;
}
.blog_content_homepage h3 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.blog_content_homepage p {
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}

.blog_button_homepage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_button_homepage button {
    border: none;
    font-size: 14px;
    width: 130px;
    color: white;
    background-color: grey;
    margin-top:30px ;
    padding: 14px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.blog_button_homepage button:hover {
    color: black;
    background-color: red;
    font-size: 18px;
    
}