.footer {
    height: 40vh;
    width: 100%;
}
.footer_container {
    height: 90%;
    width: 100%;
    display: flex;
}

.footer_container .footer_container1{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
}

.footer_container .footer_container1 .footer_container_services {
    position: relative;
    right: 20%;
}
.footer_container .footer_container1 .footer_container_services h2{
    margin-bottom: 20%;
    bottom: 20%;
}
.footer_container .footer_container1 .footer_container_query h2{
    margin-bottom: 20%;
    bottom: 20%;
}

.footer_container .footer_container1 .footer_container_services li, .footer_container_query li {
    margin: 5px;

}

.footer_container .footer_container2 {
    flex: 50%;
    margin: 10px;
}